<!-- BEGIN no_situation_model -->
	{TXT_NO_SITUATION_MODEL} <a class="il_ContainerItemCommand" href="{ACTION_ADD_SITUATION_MODEL}">{TXT_ADD_SITUATION_MODEL}</a>

	<!-- END no_situation_model -->
	<!-- BEGIN situation_model -->
	<form action="{EDIT_ACTION}" {TARGET} name="post" method="post">
	  <table class="std">
		<tr class="tblheader">
		  <td class="std" colspan="5">
			<div class="ilFloatLeft">{TXT_SITUATION_MODEL}
			  <a class="il_ContainerItemCommand" href="{ACTION_DELETE}">{TXT_DELETE}</a>
			</div>
          </td>
		</tr>
        <tr>
            <td class="sub_option" colspan="4">{TXT_COMPETENCY_LVL}</td>
            <td class="option_value">{VAL_COMPETENCY_LVL}</td>
        </tr>
        <tr>
          <td class="option" colspan="5">
            <div class="ilRight">
              <!-- BEGIN subelements -->{SEL_SUBELEMENTS}<!-- END subelements -->
              <input class="submit" type="submit" name="cmd[addSectionElement]" value="{TXT_ADD}" style="visibility:{BUTTON_VISIBILITY}"/>
            </div>
          </td>
        </tr>
        <!-- BEGIN activity_loop -->
        <tr>
            <td class="option" colspan="5">
                <div class="ilFloatLeft">
                    {ACTIVITY_LOOP_TXT_ACTIVITY}
                    <a class="il_ContainerItemCommand" href="{ACTIVITY_LOOP_ACTION_DELETE}">{ACTIVITY_LOOP_TXT_DELETE}</a>
            </td>
        <tr>
            <td class="option" width="10" rowspan="{ACTIVITY_LOOP_ROWSPAN}">&nbsp;</td>
            <td class="sub_option" colspan="3">{TXT_PREVIOUS}</td>
            <td class="option_value">{VAL_PREVIOUS}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_NEXT}</td>
            <td class="option_value">{VAL_NEXT}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_CONTAINS}</td>
            <td class="option_value">{VAL_CONTAINS}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_IS_PART_OF}</td>
            <td class="option_value">{VAL_IS_PART_OF}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_INCLUDED_METHOD}</td>
            <td class="option_value">{VAL_INCLUDED_METHOD}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_PARTICIPATING}</td>
            <td class="option_value">
                <input type="text" maxlength="200" name="text_activity[{ACTIVITY_LOOP_NO}][Participating]"
                       value="{VAL_PARTICIPATING}">
            </td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_RESPONSIBLE}</td>
            <td class="option_value">
                <input type="text" maxlength="200" name="text_activity[{ACTIVITY_LOOP_NO}][Responsible]"
                       value="{VAL_RESPONSIBLE}">
            </td>
        </tr>
        <!-- END activity_loop -->
        <!-- BEGIN method_loop -->
        <tr>
            <td class="option" colspan="5">
                <div class="ilFloatLeft">
                    {METHOD_LOOP_TXT_METHOD}
                    <a class="il_ContainerItemCommand" href="{METHOD_LOOP_ACTION_DELETE}">{METHOD_LOOP_TXT_DELETE}</a>
            </td>
        <tr>
            <td class="option" width="10" rowspan="{METHOD_LOOP_ROWSPAN}">&nbsp;</td>
            <td class="sub_option" colspan="3">{TXT_IS_PART_OF}</td>
            <td class="option_value">{VAL_IS_PART_OF}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_KIND_OF_TECHNIQUE}</td>
            <td class="option_value">{VAL_KIND_OF_TECHNIQUE}</td>
        </tr>
        <!-- END method_loop -->
        <!-- BEGIN result_type_loop -->
        <tr>
            <td class="option" colspan="5">
                <div class="ilFloatLeft">
                    {RESULT_TYPE_LOOP_TXT_RESULT_TYPE}
                    <a class="il_ContainerItemCommand" href="{RESULT_TYPE_LOOP_ACTION_DELETE}">{RESULT_TYPE_LOOP_TXT_DELETE}</a>
            </td>
        <tr>
            <td class="option" width="10" rowspan="{RESULT_TYPE_LOOP_ROWSPAN}">&nbsp;</td>
            <td class="sub_option" colspan="3">{TXT_ARTEFACT}</td>
            <td class="option_value">{VAL_ARTEFACT}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_CONTAINS}</td>
            <td class="option_value">{VAL_CONTAINS}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_IS_PART_OF}</td>
            <td class="option_value">{VAL_IS_PART_OF}</td>
        </tr>
        <tr>
            <td class="sub_option" colspan="3">{TXT_RESPONSIBLE}</td>
            <td class="option_value">
                <input type="text" maxlength="200" name="text_result_type[{RESULT_TYPE_LOOP_NO}][Responsible]"
                       value="{VAL_RESPONSIBLE}">
            </td>
        </tr>
        <!-- END result_type_loop -->
        <!-- 
        <tr>
            <td class="option" colspan="5">{TXT_PREVIOUS}</td>
            <td class="option_value">{VAL_PREVIOUS}</td>
        </tr>
        <tr>
            <td class="option" colspan="5">{TXT_NEXT}</td>
            <td class="option_value">{VAL_NEXT}</td>
        </tr>
            -->
        <tr>
            <td class="submit" colspan="5"><div align="right"><input class="submit" type="submit" name="cmd[updateSituationModel]" value="{TXT_SAVE}" /></div></td>
        </tr>
	  </table>
	</form>
	<!-- END situation_model -->

<!-- ohne Dropdown: 
    <tr>
		  <td class="option" colspan="2">{TXT_NEXT}</td>
		  <td class="option_value"><input type="text" maxlength="200" name="situation_model[{SITUATION_MODEL_ID}][Next]" value="{VAL_NEXT}"></td>
		</tr>
    -->